
.box h2 {
  font-size: 1.15rem;
  margin-bottom: .5rem;
  margin-top: 1rem;
}

.box h3 {
  line-height: 1.5rem;
}

.location_date {
  display: flex;
  justify-content: space-between;
  margin-right: 1rem;
}

.location_date h4 {
  font-weight: 100;
  margin: .5rem 0;
}
.box img {
  max-width: 100px;
}

.work {
  margin-top: 1rem;
}

.box li {
  margin: .5rem 1rem;
  line-height: 1.3;
}
