body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: black;
  background-color: antiquewhite;
}

.wrapper {
  max-width: 960px;
  padding: 1rem;
  margin: 0 auto;
}

header {
  text-align: center;
  padding: 2rem;
}

header h1 {
  font-size: 2rem;
}

nav {
  background-color: #61412c;
  border-radius: 1rem;
  box-shadow: 1px 1px 5px #664229;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 1rem;
}

nav a {
  color: antiquewhite;
  text-decoration: none;
  padding: .5rem 1rem;
}

nav a:hover {
  background-color: black;
  border-radius: 2rem;
}
