
.box {
  padding-right: 1rem;
}

h2 {
  font-size: 1.15rem;
  margin-bottom: .5rem;
  margin-top: 1rem;
}

img {
  max-width: 75px;
}

.columns {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
